.profile[b-5d3kber269] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.Description[b-5d3kber269] {
    color: grey;
    font-size: 18px;
}

a[b-5d3kber269] {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
}

    a:hover[b-5d3kber269] {
        opacity: 0.7;
    }
