@page "/"

<PageTitle>Index</PageTitle>

<h1>Home</h1>

<label style="font-weight: bold">
    Introduction:
</label>
<RadzenText TextStyle="TextStyle.Body1"> This is A test Web Application</RadzenText>


